.root {
    -fx-background-color: #EEEEEE;
}

.font {
    -fx-font-family: Arial;
}

.title {
    -fx-font-size: 48px;
}

.menu_button {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}

.menu_button:hover {
    -fx-font-size: 33px;
    -fx-effect: dropshadow(three-pass-box, orange, 25, 0, 0, 0);
}

.back_button {
    -fx-background-color: transparent;
}

.back_button:hover {
    -fx-font-weight: bold;
}